{% extends 'body.html' %}
{%  load static  %}
{% load i18n %}
{% block title %}  
    {{ titulo }}
{% endblock %}

{% block content %}

								<!--Curriculum Tab-->
						<section id="curriculum" class="bg-white t-center">
													
								<!--curriculum-->	
								<div class="resume">
						
							<!--Content-->	
							<div class="content">

								<!--Block content-->	
								<div class="block-content mb-100">

									
									<!--Row-->
										<div class="row">

									<div class="col-md-12  ">
									
									
									<div class="main-title">
		                                <h1 class="mb-30" style="line-height: 0.9
										;">{% trans "Por qué tú, Edgar?" %}</h1>
		                                <h5 class="uppercase">{% trans "¿Qué sabes hacer?" %}</h5>
		                            </div>

									</div>
									 </div>
									<!--End row-->

								</div>
								<!--End block content-->
								
																
								<!--Block content-->	
								<div class="block-content mb-100  pb-10">

										<!--Row-->
											<div class="row">

										<div class="col-md-12  ">

											<div class="sub-title mb-40">
				                                <h2 class="uppercase">{% trans "Experiencia" %}</h2>
				                            </div>

										 </div>
										 </div>
										<!--End row-->
		
		
									<!--Row-->
										<div class="row">
									<div class="col-md-12  ">
			
									<!--Timeline-->
									<div class="timeline">
										<div class="timeline-inner">
											<div class="name">
												<span class="date">{% trans "Noviembre 2024" %}<em>{% trans "Hasta la actualidad" %}</em></span>
												<h4>{% trans "Operador de EPF/Well testing – Sertecpet" %} </h4>
											</div>
											<div class="detail">
                                                <div style="text-align: justify;">
                                                <p>• {% trans "Operación y monitoreo de equipos de bombeo de alta presión con bombas centrífugas y reciprocantes." %}</p>
                                                <p>• {% trans "Manipulación de variadores de frecuencia." %}</p>
                                                <p>• {% trans "Diseño e interpretación de P&ID." %}</p>
                                                <p>• {% trans "Análisis de muestras de crudo y agua." %}</p>
                                                <p>• {% trans "Pruebas y diagnóstico de bombas y motores." %}</p>	
                                                </div>										
                                            </div>
										</div>
										<div class="timeline-inner ">
											<div class="name switched">
												<span class="date">{% trans "Febrero 2024" %}<em>{% trans "Hasta la actualidad" %}</em> </span>
												<h4>{% trans "Desarrollador de Python | Analista de datos e AI – Independiente|Freelancer" %} </h4>

											</div>
											<div class="detail">
                                                <div style="text-align: justify;">
												<p>• {% trans "Diseño e implementación de pipelines en AWS, Azure y SQL." %}</p>
                                                <p>• {% trans "Governanza de datos, ETL y ELT" %}</p>
                                                <p>• {% trans "Manipulación e ingesta de datos de variadores de frecuencia." %}</p>
                                                <p>• {% trans "Storytelling y generación de dashboards." %}</p>
                                                <p>• {% trans "Automatización y conocimientos de Machine Learning supervisado, no supervisado, visión computizada e IA generativa." %}</p>
                                                <p>• {% trans "Lenguajes: Python, R, SQL, No SQL y habilidad en .web." %}</p>
                                                </div>
                                            </div>
										</div>
										<div class="timeline-inner">
											<div class="name">
												<span class="date">{% trans "Enero 2019 - Diciembre 2019" %}</span>
												<h4>{% trans "Pasante de Operaciones – Petroecuador EP" %} </h4>
											</div>
											<div class="detail">
												<div style="text-align: justify;">
                                                <p>• {% trans "Toma de parámetros operativos en campo." %}</p>
                                                <p>• {% trans "Elaboración de permisos de trabajo" %}</p>
                                                <p>• {% trans "Análisis de proyectos de registros eléctricos y de sistemas de levantamiento artificial (ESP)." %}</p>
                                                </div>
											</div>
										</div>
									</div>

									<!--End timeline-->
	
								</div>
								</div>
								<!--End row-->
								
							</div>
							<!--End block content-->
							
						<!--Block content-->	
						<div class="block-content mb-100  pb-10">

								<!--Row-->
									<div class="row">

								<div class="col-md-12  ">

									<div class="sub-title mb-40">
		                                <h2 class="uppercase">{% trans "Educación" %}</h2>
		                            </div>

								 </div>
								 </div>
								<!--End row-->
								
								
							<!--Row-->
								<div class="row">
							<div class="col-md-12  ">

								<!--Timeline-->
								<div class="timeline">
									
									<div class="timeline-inner">
										<div class="name">
											<span class="date">{% trans "Marzo 2026 - Marzo 2027" %}</span>
											<h4>{% trans "MAESTRÍA EN INTELIGENCIA ARTIFICIAL" %}  </h4>
										</div>
										<div class="detail">
                                            <div style="text-align: justify;">
                                                <h4> {% trans "Escuela Politecnica Nacional - EPN" %}</h4>
                                            </div>
										</div>
									</div>
									
									<div class="timeline-inner">
										<div class="name">
											<span class="date">{% trans "Julio 2025 - Noviembre 2025" %}</span>
											<h4>{% trans "DIPLOMADO EN PYTHON FULL STACK  " %}  </h4>
											<h4> 230 {% trans "horas" %} </h4>
										</div>
										<div class="detail">
                                            <div style="text-align: justify;">
                                                <h4> {% trans "Universidad Hemisferios" %}</h4>
                                            </div>
										</div>
									</div>

									<div class="timeline-inner">
										<div class="name">
											<span class="date">{% trans "Septiembre 2023 - Junio 2024" %}</span>
											<h4>{% trans "IDIOMA RUSO COMO EXTRANJERO" %}  </h4>
										</div>
										<div class="detail">
                                            <div style="text-align: justify;">
                                                <h4> {% trans "Universidad Estatal de San Petesburgo" %}</h4>
                                            </div>
										</div>
									</div>

									<div class="timeline-inner">
										<div class="name">
											<span class="date">{% trans "Septiembre 2014 - Junio 2020" %}</span>
											<h4>{% trans "INGENIERIA EN PETRÓLEOS" %}  </h4>
										</div>
										<div class="detail">
                                            <div style="text-align: justify;">
                                                <h4> {% trans "Universidad Tecnológica Equinoccial - UTE" %}</h4>
                                            </div>
										</div>
									</div>
								
								</div>

								<!--End timeline-->

							</div>
							</div>
							<!--End row-->
							

						</div>
						<!--End block content-->		
																										
							<!--Block content-->	
						<div class="block-content" style="margin-bottom:0; padding-bottom:0;">
							
							
						<!--Row-->
							<div class="row">
								
						<div class="col-md-12  ">
										
							<div class="sub-title mb-40">
                                <h2 class="uppercase">{% trans "Habilidades" %}</h2>
                            </div>

						 </div>
						 </div>
						<!--End row-->
								
					<!--Row-->
						<div class="row">
					<div class="col-md-12  ">

					<!--Listing-->
					<div class="listing-large mt-40">
						
							<div class="listing-large-inner">
							<div class="listing-event">
							<ul class="data left clearfix">
                                <em>{% trans "Software Petrolero" %}</em>

                                <li>
								<h5>Autocad Plant 3D</h5>
								<div class="rating">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span class="transparent"></span>
								<span class="transparent"></span>	
								</div>
								</li>

								<li>
								<h5>Eclipse 200/300</h5>
								<div class="rating">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span class="transparent"></span>
								<span class="transparent"></span>
								<span class="transparent"></span>	
								</div>
								</li>

                                <li>
								<h5>Pipesim</h5>
								<div class="rating">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span class="transparent"></span>
								<span class="transparent"></span>
								<span class="transparent"></span>	
								</div>
								</li>

                                <li>
								<h5>Petrel</h5>
								<div class="rating">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span class="transparent"></span>
								<span class="transparent"></span>
								<span class="transparent"></span>	
								</div>
								</li>
                                <br>
                                <br>
								<em>{% trans "Software de Productividad" %}</em>

                                <li>
								<h5>Power BI</h5>
								<div class="rating">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span class="transparent"></span>
								<span class="transparent"></span>
								<span class="transparent"></span>	
								</div>
								</li>

                                <li>
								<h5>M. Word/Excel</h5>
								<div class="rating">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span class="transparent"></span>	
								</div>
								</li>

                                <br>
                                <br>
                                <em>{% trans "Programación" %}</em>

                                <li>
								<h5>Python</h5>
								<div class="rating">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span class="transparent"></span>	
								</div>
								</li>

								<li>
								<h5>.WEB</h5>
								<div class="rating">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span class="transparent"></span>	
								</div>
								</li>

                                <li>
								<h5>R</h5>
								<div class="rating">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span class="transparent"></span>
								<span class="transparent"></span>	
								</div>
								</li>

								<li>
								<h5>LateX</h5>
								<div class="rating">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span class="transparent"></span>
								<span class="transparent"></span>	
								</div>
								</li>

                                <li>
								<h5>Scikit Learn</h5>
								<div class="rating">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span class="transparent"></span>
								<span class="transparent"></span>	
								</div>
								</li>

								<li>
								<h5>PostgreSQL|SQL</h5>
								<div class="rating">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span class="transparent"></span>
								<span class="transparent"></span>	
								</div>
								</li>

								<li>
								<h5>JavaScript</h5>
								<div class="rating">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span class="transparent"></span>
								<span class="transparent"></span>
								<span class="transparent"></span>
								<span class="transparent"></span>	
								</div>
								</li>

                                <li>
								<h5>TensorFlow/Keras</h5>
								<div class="rating">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span class="transparent"></span>
								<span class="transparent"></span>
								<span class="transparent"></span>	
								</div>
								</li>

								<li>
								<h5>OpenAI|Workflows</h5>
								<div class="rating">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span class="transparent"></span>
								<span class="transparent"></span>
								<span class="transparent"></span>
								<span class="transparent"></span>	
								</div>
								</li>

								

							</ul>
																	
						<ul class="data right clearfix">
							<li>
								<h5>{% trans "Habilidades Blandas" %}</h5>
								<div style="text-align: justify;">
                                    <p class="emph-3">• {% trans "Trabajo metódico bajo supervisión." %}</p>
                                    <p class="emph-3">• {% trans "Atención al detalle" %}</p>
                                    <p class="emph-3">• {% trans "Comunicación efectiva" %}</p>
                                    <p class="emph-3">• {% trans "Atención al cliente" %}</p>
                                    <p class="emph-3">• {% trans "Trabajo en equipo e iniciativa" %}</p>
                                    <p class="emph-3">• {% trans "Organización y gestión del tiempo" %} </p>
                                </div>
							</li>
							
							
							<li>
								<h5>{% trans "Languages" %}</h5>
								<ul>
									<li class="emph-1">{% trans "Inglés" %}<span class="emph-4">({% trans "Avanzado" %})</span></li>
                                    <p class="emph-3">• {% trans "Negociación, redacción técnica y comunicación profesional fluida." %}</p>
									
                                    <li class="emph-1">{% trans "Ruso" %} <span class="emph-4">({% trans "Avanzado" %})</span></li>
                                    <p class="emph-3">• {% trans "Comunicación fluida en temas profesionales y redacción de informes." %}</p>

									<li class="emph-1">{% trans "Portugues" %} <span class="emph-4">({% trans "Intermedio" %})</span></li>
									<p class="emph-3">• {% trans "Conversaciones funcionales y lectura técnica." %}</p>

                                    <li class="emph-1">{% trans "Español" %} <span class="emph-4">({% trans "Nativo" %})</span></li>

                                </ul>
							</li>
							
						</ul>
					</div>
					</div>
				
				</div>

				<!--End listing-->

					</div>
					</div>
					<!--End row-->
				<br>
				<br>
					<a href="{% static 'files/cv.pdf' %}" download="CV_Edgar_Izurieta.pdf"
   class="btn"
   style="background-color: #ffd42d; color: #000; border: none;">
    {% trans "Descargar CV" %}
</a>					
				</div>
						<!--End block content-->	

					<!--Block content-->	
						<!--End block content-->
							
							
										


					</div>
					<!--End content-->
					
				</div>
				<!--End curriculum-->	
		
			</section>
			<!--End curriculum tab-->

{% endblock %}